/* sticky box*/
#uifm-sticky-sidebar-box{
    display:none;
    padding: 20px;
    min-height: 100px;
    min-width: 100px;
}
#uifm-sticky-sidebar-box-content{
    
}
.uifm-sticky-top-section{
  
}
.uifm-sticky-bottom-section{
  
}

/*price labels*/
.uifm_frm_price_lbl_cont{
    display: inline-block;
    font-size: 11px;
}
.uifm_frm_price_lbl_cont p{font-size: 11px;}

/*field select */
select.uifm-input2-opt-main{
    display: inline-block;
    width: auto;
}
.uiform-select .uifm-input2-wrap .uifm_frm_price_lbl_cont,
.uiform-multiselect .uifm-input2-wrap .uifm_frm_price_lbl_cont
.uiform-spinner .uifm_frm_price_lbl_cont,
.uiform-slider .uifm_frm_price_lbl_cont
{
    margin-left: 5px;
    vertical-align: bottom;
}
 
/*price setting - spinner*/
.uiform-spinner .uifm-input4-wrap,
.uiform-switch .uifm-input15-wrap{
    display: inline-block;
}

/*payment*/
#uiform-container .form-group {
    display: inline-block;
}
#uiform-container .form-group:after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
    overflow: hidden;
    visibility: hidden;
}
#uiform-container .form-group {
    display: block;
}

/*invoice*/
.uiform-page_records .table-striped tbody > tr:nth-child(2n+1) > td,
.uiform-page_records .table-striped tbody > tr:nth-child(2n+1) > th{
    background-color: #f9f9f9 !important;
}

/*summary box*/
.uifm-stickybox-summary-link{
    text-decoration: underline;
}

#form_list .unstyled li{
    display: inline-block;
}

/*calculation*/
#zgfm-calc-tab-header label{
    color:#fff;
}
#zgfm-calc-tab-header{
    background: #38507e;
    padding: 14px 0 10px;
}

.zgfm-tab-calc-var-wrap fieldset {
    border: 1px solid #ccc !important;
    margin: 7px 2px 2px;
    padding: 20px 10px 10px;
    position: relative;
}

.zgfm-tab-calc-var-wrap fieldset legend {
    background-color: #f9f9f9;
    border: medium none;
    color: #efefef;
    font-size: 12px;
    left: 10px;
    padding: 6px 12px;
    position: absolute;
    text-shadow: 1px 1px 1px #333333;
    top: -17px;
    width: auto !important;
}

#uifm_frm_calc_cmbo_addvar{
    background-image: linear-gradient(to bottom, #d9edf7 0%, #b9def0 100%);
    background-repeat: repeat-x;
    border-color: #9acfea;
    margin-top: 21px;
    padding: 0 0 20px;
    text-align: center;
}

#uifm_frm_calc_cmbo_addvar textarea{
    height: 33px;
    padding: 5px 6px;
    width: 100%;
    background-color: #f9f2f4;
    border-radius: 4px;
    color: #c7254e;
    font-size: 90%;
    resize: none;
}

.uifm_frm_calc_showvars{
   
}
.uifm_frm_calc_showvars ul{
    
}
.uifm_frm_calc_showvars ul li{
    
}


/*tab summary*/
.zgfm-frm-summbox-varstoshow label{
    color:#fff;
}


/*vertical tab*/

#zgfm-tab-calc-sourcecode-wrapper{
    background: #F9F9F9;
} 
#zgfm-tab-calc-sourcecode-wrapper > .sfdc-col-xs-3{
   padding-left: 0 !important;
}
#zgfm-tab-calc-sourcecode-wrapper > .sfdc-col-xs-9{
   padding-left: 0 !important;    
}

.tabs-left, .tabs-right {
  border-bottom: none;
  padding-top: 2px;
}
.tabs-left {
  border-right: 1px solid #ddd;
  margin-left: 0 !important;
  padding: 0 !important;
}
.tabs-right {
  border-left: 1px solid #ddd;
}
.tabs-left>li, .tabs-right>li {
  float: none!important;
  margin-bottom: 2px!important;
}
.tabs-left>li {
  margin-right: -1px!important;
}
.tabs-right>li {
  margin-left: -1px!important;
}
.tabs-left>li.sfdc-active>a,
.tabs-left>li.sfdc-active>a:hover,
.tabs-left>li.sfdc-active>a:focus {
  border-bottom-color: #ddd!important;
  border-right-color: transparent!important;
  background:#F9F9F9!important
      
}

.tabs-right>li.sfdc-active>a,
.tabs-right>li.sfdc-active>a:hover,
.tabs-right>li.sfdc-active>a:focus {
  border-bottom: 1px solid #ddd!important;
  border-left-color: transparent!important;
}
.tabs-left>li>a {
  background: #9a59b5 !important;
    border-radius: 4px 0 0 4px !important;
    color: #fff;
    display: block !important;
    margin-right: 0 !important;
}
.tabs-left>li>a:hover {
   color:#fff;
}
.tabs-right>li>a {
  border-radius: 0 4px 4px 0!important;
  margin-right: 0!important;
}
.vertical-text {
  margin-top:50px;
  border: none;
  position: relative;
}
.vertical-text>li {
  height: 20px;
  width: 120px;
  margin-bottom: 100px;
}
.vertical-text>li>a {
  border-bottom: 1px solid #ddd!important;
  border-right-color: transparent!important;
  text-align: center!important;
  border-radius: 4px 4px 0px 0px!important;
}
.vertical-text>li.sfdc-active>a,
.vertical-text>li.sfdc-active>a:hover,
.vertical-text>li.sfdc-active>a:focus {
  border-bottom-color: transparent!important;
  border-right-color: #ddd!important;
  border-left-color: #ddd!important;
}
.vertical-text.tabs-left {
  left: -50px!important;
}
.vertical-text.tabs-right {
  right: -50px!important;
}
.vertical-text.tabs-right>li {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
.vertical-text.tabs-left>li {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.uifm_frm_calc_options_container{
  background:#38507E;
    color: #fff;
    margin-bottom: 20px;
    padding: 10px;  
}
.zgfm-helper-textnote{
    font-style:italic;
    font-size:10px;
}

.uifm_frm_calc_options_container .uifm_txtarea_var{
    background-color: #f9f2f4;
    border-radius: 4px;
    color: #c7254e;
    font-size: 70%;
    height: 44px;
    overflow: hidden;
    padding: 2px 4px;
    resize: none;
    vertical-align: baseline;
    width: 100%;
}

/*gateawy*/

#uiform-form-editgateway .sfdc-form-group{
    
    margin-bottom: 10px;
    display:block!important;
}