.uiform-pg-main-page{}

.uiform-pg-main-page h1{
    font-size: 19px;
    line-height: 40px;
}
.uiform-pg-section-1{
    margin-bottom: 10px;
}

.uiform-pg-section-2{
    border: 1px solid #d1d1d1;
    box-shadow: 0 2px 3px rgba(50, 50, 50, 0.35);
}
.uiform-pg-table-header-box{
    background: #4391e5;
    border: 1px solid #aaa9a5;
    color: #f2f2f2;
    padding: 5px 0;
}
.uiform-pg-order-cont{
    background: #f1f1f1;
    border-bottom: 1px solid #cacaca;
    border-left: 1px solid #cacaca;
    border-right: 1px solid #cacaca;
    cursor:pointer;
}
.uiform-pg-paypal-box{
    
}
.uiform-pg-row-cont{
    
}
.uiform-pg-lable-wrap{
    
}
.uiform-pg-row-cont{
    color: #525252;
    line-height: 21px;
    padding-bottom: 14px;
    padding-top: 14px;
}
.uiform-pg-card-number{
    
}
.uiform-pg-paypal{
    
}
.uiform-pg-summary-head{
    background: #4391e5;
    color: #f2f2f2;
    padding: 5px 0;
}
.uiform-pg-summbox-p{
    
}
.uiform-pg-summbox-total{
    
}
.uiform-pg-complete-box{
    background: #f2f2f2;
    text-align: center;
}
.uiform-pg-complete-box a{
    margin-bottom: 18px!important;
    margin-top:18px;
}
.uiform-pg-radio-btn{
    padding-left: 10px;
    position:relative;
    z-index:99;
}
.uiform-pg-summary-body{
    padding-top: 10px;
}

.uiform-pg-content .uiform-pg-order-cont.odd,
.uiform-pg-content .uiform-pg-order-cont:nth-child(2n) {
    background: #fff none repeat scroll 0 0;
}
.uiform-pg-complete-box a:focus{
    outline: none!important;
}